.sanpham1 {
    // border-style: solid;
    // border-radius: 10px;
    width: 350px;
    height: auto;
    margin: 10px;
    padding: 0px 10px 10px 10px;
    
}

.sanpham1 img{
    width: 150px; 
    height: 150px; 
    float: right;
}

.sanpham1 button{
    width: 100px;
    height: 50px;
    margin-left: 150px;
    // justify-content: center;
}

