.sanpham {
    display: flex;
    flex-wrap: wrap;
    
}
app-item {
    flex: 1 1 300px;
    border-radius: 10px;
    border-style: solid;
    font-size: 20pt;
    border-width: 2px;
    margin: 10px;
    
}


