<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Shop Bán Quần Áo
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a [routerLink]="'/#'"  target="_blank">Home</a>
      <a [routerLink]="'/shop'" target="_blank">Shop</a>
      <a [routerLink]="'/cart'" target="_blank">Cart</a>
    </div>
  </div>