.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
header {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: aqua;
    text-align: center;
  }

.left-side {
    grid-column: 1 / 2;
    background-color: blueviolet;

  }

main {
    grid-column: 2 / 3;
    background-color: whitesmoke;
    min-height: 1000px;
  }

.right-side {
    grid-column: 3 / 4;
    background-color: darkorange;
  }

footer {
    grid-column: 1 / 4;
    background-color: deeppink;
  }
.w3-third img{
  width: 150px;
}