table
{
    padding: 0.4%;
    background-color:gray;
    border-style: solid;
    border-color: indigo;
    margin-left: auto;
    margin-right: auto;
    
}

input 
{
    background-color: green;
    width: auto;
    display: block;
    
}
