.form
{
    color: royalblue;
    display: flex;
    flex-direction: row;
   
}

.form button
{
    height: 20px;
    width: 25px;
    margin: 0 10px 0 10px;
}

#so {
    font-size: 13pt;
    margin-top: 2px;
}

