.SanPham
 {
     background-color:white;
     border-radius: round($number: 30px);
     width: 30%;
     
     


    
}
.row {
  display: flex;
    flex-direction: row
}

 img
 {
   width:150px;
    border-style: solid
 }