<div class="MonHang">

    <div style="display: flex; flex-direction: row;">

        <div style="display: flex; flex-direction: column;">

            <div id="content">
                <p>ID sản phẩm: {{item.id}}</p>
                <p>Tên sản phẩm: {{item.Name}}</p>
                <p>Tình trạng: {{item.Stock}}</p>
                <p>Giá: {{item.price}} vnđ</p>
            </div>

            <div>
                <button class="button">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>

        </div>

        <div>
            <img src="{{item.img}}" alt="">
        </div>

    </div>

</div>