
    <div class="row">
        <div class="row-1">
            <img src="../../../../../assets/img/logo2.png" alt="logo" height="80px" width="160px">
            <div class="column">
                <input type="Excel name" placeholder="Enter your Excel's title!">
                <div>
                    <button>Tệp</button>
                    <button>Chỉnh sửa</button>
                    <button>Xem</button>
                    <button>Chèn</button>
                    <button>Định dạng</button>
                    <button>Dữ liệu</button>
                    <button>Công cụ</button>
                </div>
            </div>
        </div>
    
        <div class="row-2">
            <h3>fx</h3>
            <input type="math" placeholder="Please enter the algorithm!" >
        </div>
    </div>