.row
{
  display: flex;
  flex-wrap: wrap;
}

app-items
{
  flex: 1 1 300px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}